#menu_bar_container {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 50px;
    background-color: transparent;
    transition: background-color 0.3s ease;
    z-index: 9999;
  }
  
  #menu_bar_container.white {
    background-color: #ffffff;
  }
  
  #menu_bar_container ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  #menu_bar_container ul li {
    margin-right: 6em; /* Dodaj 2em przestrzeni między przyciskami */
    position: relative;
  }
  
  #menu_bar_container ul li:first-child {
    margin-left: 0; /* Anuluj margines dla pierwszego przycisku */
  }  
  
  #menu_bar_container ul li a {
    display: block;
    padding: 10px 15px;
    background-color: transparent;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
    font-family: "MVB Magnesium", sans-serif;
    position: relative;
    z-index: 1;
    font-weight: bold; /* Dodaj tę linię */
  }
  
  #menu_bar_container.white ul li a {
    color: #000000;
  }

  #menu_bar_container ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.3s ease;
  }
  
#menu_bar_container ul li a:hover::after {
    transform: scaleY(1);
}

body {
  font-family: "MVB Magnesium", sans-serif;
  color: white;
  background-color: rgb(40, 46, 84);
}

ul {
    margin-top: 5em;
}

a {
    color: white;
}